{{- $codespaces := env "CODESPACES" | not | not -}}
{{- $gitpod := env "GITPOD_WORKSPACE_ID" | not | not -}}
{{- $wsl := (and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft")) -}}

{{- $distro := (.chezmoi.os) -}}
{{- $distroLike := (.chezmoi.os) -}}

{{- if (eq $distro "linux") -}}
{{- $distro = (.chezmoi.osRelease.id) -}}
{{- $distroLike = (.chezmoi.osRelease.idLike) -}}
{{- end -}}

{{- $chassisType := "desktop" -}}
{{- if (or $codespaces $gitpod) -}}
{{-   $chassisType = "ephemeral" -}}
{{- else if stat "/home/kasm-default-profile" -}}
{{-   $chassisType = "kasm" -}}
{{- else if $wsl }}
{{-   $chassisType = "wsl" -}}
{{- else if eq .chezmoi.os "darwin" -}}
{{-   if contains "MacBook" (output "sysctl" "-n" "hw.model") -}}
{{-     $chassisType = "laptop" -}}
{{-   else -}}
{{-     $chassisType = "desktop" -}}
{{-   end -}}
{{- else if eq .chezmoi.os "linux" -}}
{{-   $chassisType = (output "hostnamectl" "--json=short" | mustFromJson).Chassis -}}
{{- else if eq .chezmoi.os "windows" -}}
{{-   $chassisType = (output "powershell.exe" "-noprofile" "-command" "if (Get-WmiObject -Class win32_battery -ComputerName localhost) { echo laptop } else { echo desktop }") -}}
{{- end -}}

{{ $pokemon := false }}
{{ $email := "hey@vlad.gg" }}
{{- if (regexMatch "Mac-[A-Za-z0-9]+" .chezmoi.hostname) -}}
{{ $pokemon = true }}
{{ $email = "v.zaharia@pokemon.com" }}
{{- end -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}

{{ if ne $chassisType "ephemeral" -}}
encryption = "age"
[age]
{{-   if $pokemon }}
    identity = "~/.keys/pkmn.key"
    recipient = "age1chxlg7tm275f5fsw8lfpj9x76drqfgtaphu02ef7u3lurkppwqnqfwxarn"
{{-   else }}
    identity = "~/.keys/personal.key"
    recipient = "age1hpzuwy5lhe6ke9dkj37npz9qlgcfxkk2yyl0z235xt3sgqrmqpssqsjtcm"
{{-   end }}
{{- end }}

[data]
    chezmoi.chassis = {{ $chassisType | quote }}
    chezmoi.distro.name = {{ $distro | quote }}
    chezmoi.distro.like = {{ $distroLike | quote }}

    flags.applesilicon = {{ and (eq $distro "darwin") (eq .chezmoi.arch "arm64") }}
    flags.ephemeral = {{ eq $chassisType "ephemeral" }}
    flags.pokemon = {{ $pokemon }}

    personal.name = "Vlad Zaharia"
    personal.email = {{ $email | quote }}
