{{- $codespaces:= env "CODESPACES" | not | not -}}
{{- $gitpod:= env "GITPOD_WORKSPACE_ID" | not | not -}}
{{- $ephemeral:= (or $codespaces $gitpod) -}}

{{- $wsl:= (and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft")) -}}

{{- $opAvailable:= env "OP_ENABLED" | not | not -}}
{{- $opEnabled:= env "OP_SESSION_F3TE4WF6SFE2PCZDHWTDWB2GA4" | not | not -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
    ephemeral = {{ $ephemeral }}
    wsl = {{ $wsl }}
    openabled = {{ (or $opAvailable $opAvailable) }}
