# ~/.bashrc: executed by bash(1) for non-login shells.

eval "$(starship init bash)"

{{- if (eq .chezmoi.chassis "ephemeral") -}}
# Add path variables
export PATH=/usr/local/sbin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:$PATH
export PATH=$HOME/bin:$HOME/.local/bin:/usr/local/bin:$HOME/.moon/tools/moon/latest:$PATH

export SHELL=$(which zsh)
#if [[ -o login ]]
#then
#    exec zsh -l
#else
#    exec zsh
#fi

{{- end -}}
