######
### Global
######

# Update PATH
export PATH=/usr/local/sbin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:$HOME/bin:$HOME/.local/bin:/usr/local/bin:$PATH

{{- if (eq .chezmoi.distro.name "darwin") }}
export PATH=/opt/homebrew/bin:/opt/homebrew/sbin:$PATH
{{- end }}

######
### oh-my-zsh
######

# Path to your oh-my-zsh installation.
export ZSH="$HOME/.oh-my-zsh"

# Path to custom plugins
export ZSH_CUSTOM="$HOME/.zsh_custom"
export ZSH_PLUGINS="$ZSH_CUSTOM/plugins"

# oh-my-zsh theme to use
ZSH_THEME="robbyrussell"

# Autoload .nvmrc files
ZSH_NVM_AUTOLOAD=true

# Uncomment the following line to use case-sensitive completion.
# CASE_SENSITIVE="true"

# Uncomment the following line to use hyphen-insensitive completion.
# Case-sensitive completion must be off. _ and - will be interchangeable.
# HYPHEN_INSENSITIVE="true"

# Disable oh-my-zsh update (handled via chezmoi)
zstyle ':omz:update' mode disabled  # disable automatic updates

# Uncomment the following line to enable command auto-correction.
ENABLE_CORRECTION="true"

# Uncomment the following line to display red dots whilst waiting for completion.
COMPLETION_WAITING_DOTS="true"

# Add extra completions
fpath+=${ZSH_CUSTOM:-${ZSH:-~/.oh-my-zsh}/custom}/plugins/zsh-completions/src

source $ZSH/oh-my-zsh.sh

######
### ZI
######
typeset -A ZI
ZI[BIN_DIR]="${HOME}/.zi"
source "${ZI[BIN_DIR]}/zi.zsh"

autoload -Uz _zi
(( ${+_comps} )) && _comps[zi]=_zi

# Load autocompletions
zi pack for $ZSH_PLUGINS/system-completions
zi pack has'brew' for $ZSH_PLUGINS/brew-completions

######
### ZSH plugins (via ZI)
######
# Homebrew
zi ice wait lucid has'brew'
zi snippet OMZP::brew

# asdf
zi ice has'asdf'
zi snippet OMZP::asdf

# Docker
zi wait lucid has'docker' for \
  OMZP::docker \
  OMZP::docker-compose

# Git
zi ice wait lucid has'git'
zi snippet OMZP::git

# Node
zi for \
  OMZP::node \
  OMZP::npm \
  OMZP::nvm \
  OMZP::yarn 
#  $ZSH_PLUGINS/auto-nvmrc

# Pip
zi ice wait lucid has'pip'
zi snippet OMZP::pip

# Mac-specific
#zstyle :omz:plugins:iterm2 shell-integration yes
source $ZSH_CUSTOM/scripts/iterm2_shell_integration.zsh
zi ice wait lucid if'[[ $OSTYPE = darwin* ]]'
zi snippet OMZP::iterm2

# SSH + Mosh
zi ice wait lucid has'ssh'
zi snippet OMZP::ssh

zi ice wait lucid has'mosh'
zi snippet OMZP::mosh

# Colorization
zi wait lucid for \
  $ZSH_PLUGINS/zsh-256color \
  $ZSH_PLUGINS/colors \
  $ZSH_PLUGINS/colorize \
  OMZP::colored-man-pages

# Fancy Diff
zi light $ZSH_PLUGINS/z-a-bin-gem-node
zi ice as'null' sbin'bin/*'
zi light $ZSH_PLUGINS/zsh-diff-so-fancy

# Syntax highlighting / Autocompletion
zi wait lucid for \
  atinit"ZI[COMPINIT_OPTS]=-C; zicompinit; zicdreplay" \
    $ZSH_PLUGINS/F-Sy-H \
  blockf \
    $ZSH_PLUGINS/zsh-completions \
  atload"!_zsh_autosuggest_start" \
    $ZSH_PLUGINS/zsh-autosuggestions

# Dotenv
zi snippet OMZP::dotenv

# ZBrowse
zi load $ZSH_PLUGINS/zui
zi load $ZSH_PLUGINS/zbrowse

# Eza
zi ice wait lucid has'eza'
zi light $ZSH_PLUGINS/zsh-eza

# Vault
zi ice wait lucid has'vault'
zi light $ZSH_PLUGINS/vault-helper

zi load $ZSH_PLUGINS/zui
zi load $ZSH_PLUGINS/pkmn-repos

######
### User Configuration
######

# Set nano as default editor
export EDITOR='nano'

# Homebrew zsh hooks
if [ "$(command -v brew)" ]; then
    eval "$(brew shellenv)"
fi

# Starship zsh hooks
if [ "$(command -v starship)" ]; then
    eval "$(starship init zsh)"
fi

# Direnv zsh hooks
if [ "$(command -v direnv)" ]; then
    eval "$(direnv hook zsh)"
fi

# Mise hooks
if [ "$(command -v mise)" ]; then
    eval "$(mise activate zsh)"
fi

# Vault hooks
if [ $(command -v vault) ]; then
    export VAULT_ADDR="https://vault.polaris.rest"
    
    # Autocomplete
    autoload -U +X bashcompinit && bashcompinit
    complete -o nospace -C /opt/homebrew/bin/vault vault
fi

{{- if not .flags.pokemon }}
# Atuin
if [ $(command -v atuin) ]; then
    #export ATUIN_NOBIND="true"
    export ATUIN_
    eval "$(atuin init zsh)"

    #bindkey '^r' _atuin_search_widget
    #bindkey '^[^[[A' _atuin_up_search_widget
fi
{{- end }}

# Eza
if [ $(command -v eza) ]; then
    export EZA_ICON_SPACING=2
    export EZA_COLORS="di=38;5;039;1:ex=38;5;082;1:vi=38;5;105:.*=38;5;243:*.apk=38;5;154:*.env=38;5;243:*.jar=38;5;196:*.ts=38;5;033:docker-compose.yml=38;5;045"
fi

if [ -f ~/.config/assassin/.env ]; then
    # Assassin environment variables
    . ~/.config/assassin/.env
fi

if [ -f ~/.beepy.zshrc ]; then
    # Beepy configuration
    . ~/.beepy.zshrc
fi

# nvm
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

{{- if (and (eq .chezmoi.distro.name "darwin") (eq .chezmoi.arch "arm64")) }}
# Docker config for M1 via Colima
DOCKER_HOST=unix:///Users/v.zaharia/.colima/default/docker.sock

# Orbstack
if [ $(command -v orbctl) ]; then
  eval "$(orbctl completion zsh)"
  compdef _orb orbctl
  compdef _orb orb
fi
{{ end }}

{{- if .flags.pokemon }}
######
### Pokemon Configuration
######

FILE=./.pkmn.zshrc
if [ -f "$FILE" ]; then
    . $FILE
fi
{{- end }}
