
# >>> conda initialize >>>
# !! Contents within this block are managed by 'conda init' !!
if ( -f "{{ .chezmoi.homeDir }}/opt/anaconda3/etc/profile.d/conda.csh" ) then
    source "{{ .chezmoi.homeDir }}/opt/anaconda3/etc/profile.d/conda.csh"
else
    setenv PATH "{{ .chezmoi.homeDir }}/opt/anaconda3/bin:$PATH"
endif
# <<< conda initialize <<<

