[core]
	excludesFile = ~/.gitignore
	editor = nano
[user]
	name = Vlad Zaharia
	email = {{ .email }}
[pull]
	rebase = false
[push]
	autoSetupRemote = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[init]
	defaultBranch = main

{{- if .flags.pokemon }}
[include]
	path = ~/.pkmn.gitconfig
{{- end }}
