######
### Global
######

# Update PATH
export PATH=/usr/local/sbin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:$PATH
export PATH=$HOME/bin:$HOME/.local/bin:/usr/local/bin:$HOME/.moon/tools/moon/latest:$PATH

{{- if (eq .chezmoi.distro.name "darwin") }}
export PATH=/opt/homebrew/bin:/opt/homebrew/sbin:$PATH
{{- end }}

######
### oh-my-zsh
######

# Path to your oh-my-zsh installation.
export ZSH="$HOME/.oh-my-zsh"

# Path to custom plugins
export ZSH_CUSTOM="$HOME/.zsh_custom"

# oh-my-zsh theme to use
ZSH_THEME="robbyrussell"

# oh-my-zsh plugins to load
plugins=(brew colored-man-pages colorize docker-compose docker dotnet dotenv git iterm2 macos node npm nvm pip vault-helper yarn zsh-syntax-highlighting zsh-autosuggestions)

# Uncomment the following line to use case-sensitive completion.
# CASE_SENSITIVE="true"

# Uncomment the following line to use hyphen-insensitive completion.
# Case-sensitive completion must be off. _ and - will be interchangeable.
# HYPHEN_INSENSITIVE="true"

# Disable oh-my-zsh update (handled via chezmoi)
zstyle ':omz:update' mode disabled  # disable automatic updates

# Uncomment the following line to enable command auto-correction.
ENABLE_CORRECTION="true"

# Uncomment the following line to display red dots whilst waiting for completion.
COMPLETION_WAITING_DOTS="true"

source $ZSH/oh-my-zsh.sh

######
### User Configuration
######

# Set nano as default editor
export EDITOR='nano'

# Homebrew zsh hooks
if [ "$(command -v brew)" ]; then
    eval "$(brew shellenv)"
fi

# Starship zsh hooks
if [ "$(command -v starship)" ]; then
    eval "$(starship init zsh)"
fi

# Direnv zsh hooks
if [ "$(command -v direnv)" ]; then
    eval "$(direnv hook zsh)"
fi

# Infisical zsh hooks
if [ "$(command -v infisical)" ]; then
    export INFISICAL_API_URL="https://env.zhr.one/api"
fi

# 1Password zsh hooks
#if [ "$(command -v op)" ]; then
#    # Set environment variable for chezmoi
#    export OP_ENABLED=true

#    # Add zsh hooks
#    eval "$(op completion zsh)"
#    compdef _op op
#fi

# Vault hooks
if [ $(command -v vault) ]; then
    export VAULT_ADDR="https://vault.zhr.one"
    
    # Autocomplete
    autoload -U +X bashcompinit && bashcompinit
    complete -o nospace -C /opt/homebrew/bin/vault vault
fi

# Assassin environment variables
. ~/.config/assassin/.env

{{- if (and (eq .chezmoi.distro.name "darwin") (eq .chezmoi.arch "arm64")) }}
# Docker config for M1 via Colima
DOCKER_HOST=unix:///Users/v.zaharia/.colima/default/docker.sock
{{ end }}

{{- if .flags.pokemon }}
######
### Pokemon Configuration
######

FILE=./.pkmn.zshrc
if [ -f "$FILE" ]; then
    . $FILE
fi
{{- end }}
