# ~/.bashrc: executed by bash(1) for non-login shells.

{{ $codespaces:= env "CODESPACES" | not | not -}}
{{ $gitpod:= env "GITPOD_WORKSPACE_ID" | not | not -}}
{{ if (or $codespaces $gitpod) -}}

export SHELL=$(which zsh)
if [[ -o login ]]
then
    exec zsh -l
else
    exec zsh
fi

{{ end -}}
