#!/bin/sh
CYAN='\033[0;36m'
LCYAN='\033[1;36m'
RESET='\033[0m'

{{ if (and (eq .chezmoi.distro.like "debian") (not (eq .chezmoi.chassis "kasm"))) -}}

# Install Starship
if [ ! "$(command -v starship)" ]; then
    echo "${CYAN}###${RESET} Installing Starship prompt"
    curl -sS https://starship.rs/install.sh | sh -s -- -y
fi

echo "${LCYAN}###${RESET} Apt install (common)"
# Update repos
sudo apt-get update

# Install direnv and jq
sudo apt-get install -y direnv jq

# Install Eza
if [ ! -f /etc/apt/sources.list.d/gierens.list ]; then
    sudo mkdir -p /etc/apt/keyrings
    wget -qO- https://raw.githubusercontent.com/eza-community/eza/main/deb.asc | sudo gpg --dearmor -o /etc/apt/keyrings/gierens.gpg
    echo "deb [signed-by=/etc/apt/keyrings/gierens.gpg] http://deb.gierens.de stable main" | sudo tee /etc/apt/sources.list.d/gierens.list
    sudo chmod 644 /etc/apt/keyrings/gierens.gpg /etc/apt/sources.list.d/gierens.list
    sudo apt update
fi

sudo apt install -y eza

{{   if and (ne .chezmoi.chassis "ephemeral") (ne .chezmoi.chassis "beepy") -}}

# Add docker repository
if [ ! -f /etc/apt/sources.list.d/docker.list ]; then
    echo "${CYAN}###${RESET} Adding docker repository"
    curl -fsSL https://download.docker.com/linux/{{.chezmoi.distro.name}}/gpg | sudo gpg --dearmor -o /usr/share/keyrings/docker-archive-keyring.gpg
    echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/docker-archive-keyring.gpg] https://download.docker.com/linux/{{.chezmoi.distro.name}} $(lsb_release -cs) stable" | sudo tee /etc/apt/sources.list.d/docker.list > /dev/null
fi

# Add k8s repository
if [ ! -f /etc/apt/sources.list.d/kubernetes.list ]; then
    echo "${CYAN}###${RESET} Adding k8s repository"
    sudo curl -fsSLo /usr/share/keyrings/kubernetes-archive-keyring.gpg https://packages.cloud.google.com/apt/doc/apt-key.gpg
    echo "deb [signed-by=/usr/share/keyrings/kubernetes-archive-keyring.gpg] https://apt.kubernetes.io/ kubernetes-xenial main" | sudo tee /etc/apt/sources.list.d/kubernetes.list
fi

echo "${LCYAN}###${RESET} Apt install (dev)"
# Update repos
sudo apt-get update

# Install packages
sudo apt-get install -y docker-ce docker-ce-cli containerd.io kubectl

# Install Atuin
curl --proto '=https' --tlsv1.2 -sSf https://setup.atuin.sh | sh -s
{{   end -}}

{{ else if eq .chezmoi.distro.name "darwin" -}}

if [ "$(command -v brew)" ]; then
    echo "${CYAN}###${RESET} Homebrew install"

    brew tap hashicorp/tap
    
    # Cross-plat 
    brew install 1password/tap/1password-cli age atuin direnv docker docker-compose eza gnupg hammerspoon hurl jq kubectl nvm starship hashicorp/tap/vault wezterm

    {{   if .flags.applesilicon -}}
    echo "${LCYAN}###${RESET} Homebrew install (arm64)"

    # M1 Mac
    brew install colima
    {{   end }}
fi

{{ end -}}

