#!/bin/sh

{{ $filename := "personal.key" }}

{{- if .flags.pokemon -}}
{{ $filename = "pkmn.key" }}
{{- end -}}

if [ ! -f "${HOME}/.keys/{{ $filename }}" ]; then
    age --decrypt --output "${HOME}/.keys/{{ $filename }}" "{{ .chezmoi.sourceDir }}/private_dot_keys/{{ $filename }}.age"
    chmod 600 "${HOME}/.keys/{{ $filename }}"
fi
