#!/bin/sh
CYAN='\033[0;36m'
LCYAN='\033[1;36m'
RESET='\033[0m'

{{ $filename := "personal.key" }}

{{- if .flags.pokemon -}}
{{ $filename = "pkmn.key" }}
{{- end -}}

echo "${CYAN}###${RESET} Decrypting keys"

mkdir -p ${HOME}/.keys

if [ ! -f "${HOME}/.keys/{{ $filename }}" ]; then
    echo "${LCYAN}###${RESET} Decrypting {{ $filename }}"

    age --decrypt --output "${HOME}/.keys/{{ $filename }}" "{{ .chezmoi.sourceDir }}/private_dot_keys/{{ $filename }}.age"
    chmod 600 "${HOME}/.keys/{{ $filename }}"
fi
