#!/bin/sh

{{ if (eq .chezmoi.distro.like "debian") -}}

# Install Starship
if [ ! "$(command -v starship)" ]; then
    curl -sS https://starship.rs/install.sh | sh -s -- -y
fi

# Add doppler repository
if [ ! -f /etc/apt/sources.list.d/doppler-cli.list ]; then
    sudo apt-get update && sudo apt-get install -y apt-transport-https ca-certificates curl gnupg
    curl -sLf --retry 3 --tlsv1.2 --proto "=https" 'https://packages.doppler.com/public/cli/gpg.DE2A7741A397C129.key' | sudo apt-key add -
    echo "deb https://packages.doppler.com/public/cli/deb/debian any-version main" | sudo tee /etc/apt/sources.list.d/doppler-cli.list
fi

# Update repos
sudo apt-get update

# Install direnv + doppler
sudo apt-get install -y direnv doppler

{{   if (not (eq .chezmoi.chassis "ephemeral")) -}}

# Add k8s repository
if [ ! -f /etc/apt/sources.list.d/kubernetes.list ]; then
    sudo curl -fsSLo /usr/share/keyrings/kubernetes-archive-keyring.gpg https://packages.cloud.google.com/apt/doc/apt-key.gpg
    echo "deb [signed-by=/usr/share/keyrings/kubernetes-archive-keyring.gpg] https://apt.kubernetes.io/ kubernetes-xenial main" | sudo tee /etc/apt/sources.list.d/kubernetes.list
fi

# Add 1password repository
if [ ! -f /etc/apt/sources.list.d/1password.list ]; then
    curl -sS https://downloads.1password.com/linux/keys/1password.asc | sudo gpg --dearmor --output /usr/share/keyrings/1password-archive-keyring.gpg
    echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/1password-archive-keyring.gpg] https://downloads.1password.com/linux/debian/$(dpkg --print-architecture) stable main" | sudo tee /etc/apt/sources.list.d/1password.list
    sudo mkdir -p /etc/debsig/policies/AC2D62742012EA22/
    curl -sS https://downloads.1password.com/linux/debian/debsig/1password.pol | sudo tee /etc/debsig/policies/AC2D62742012EA22/1password.pol
    sudo mkdir -p /usr/share/debsig/keyrings/AC2D62742012EA22
    curl -sS https://downloads.1password.com/linux/keys/1password.asc | sudo gpg --dearmor --output /usr/share/debsig/keyrings/AC2D62742012EA22/debsig.gpg
fi

# Add docker repository
if [ ! -f /etc/apt/sources.list.d/docker.list ]; then
    curl -fsSL https://download.docker.com/linux/{{.chezmoi.distro.name}}/gpg | sudo gpg --dearmor -o /usr/share/keyrings/docker-archive-keyring.gpg
    echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/docker-archive-keyring.gpg] https://download.docker.com/linux/{{.chezmoi.distro.name}} $(lsb_release -cs) stable" | sudo tee /etc/apt/sources.list.d/docker.list > /dev/null
fi

# Update repos
sudo apt-get update

# Install packages
sudo apt-get install -y 1password-cli docker-ce docker-ce-cli containerd.io kubectl
{{   end -}}

{{ else if eq .distro "darwin" -}}

if [ "$(command -v brew)" ]; then
    # Cross-plat 
    brew install 1password/tap/1password-cli direnv dopplerhq/cli/doppler docker docker-compose gnupg kubectl starship
    
    # Mac-specific 
    brew install azure-cli gitleaks nvm step
fi

{{ end -}}

