###############################################
####
#### Connection to exit nodes via Netbird
####   - Convention is exit-[region]
####
###############################################

Host exit-cca
    hostname 100.64.189.226
    user vlad
    port 22

Host exit-cmx
    hostname 100.64.245.88
    user vlad
    port 22

Host exit-cpl
    hostname 100.64.104.139
    user vlad
    port 22

Host exit-eau
    hostname 100.64.243.13
    user vlad
    port 22

Host exit-ejp
    hostname 100.64.98.149
    user vlad
    port 22

Host exit-eus
    hostname 100.64.201.102
    user vlad
    port 22

Host exit-suk
    hostname 100.64.74.18
    user vlad
    port 22
