###############################################
####
#### Direct connection to Greenwood hosts
####
###############################################

Host router-gw
    hostname router.polaris.rest
    user root
    port 22

Host truenas
    hostname truenas.polaris.rest
    user vlad
    port 22

# Docker (new)
Host greenwood
    hostname 10.10.1.20
    user vlad
    port 22

# Docker (legacy)
Host docker
    hostname 10.10.1.20
    user vlad
    port 22
