###############################################
####
#### Connection to hosts via Netbird
####   - Convention is <hostname>-nb
####
###############################################

Host greenwood-nb
    hostname 100.64.56.36
    user vlad
    port 22

Host steambox-nb
    hostname 100.64.1.1
    user vlad
    port 22

Host caphill-nb
    hostname 100.64.112.64
    user vlad
    port 22

Host reprise-nb
    hostname 100.64.1.1
    user vlad
    port 22

Host router-travel-nb
    hostname 100.64.189.220
    user vlad
    port 22

Host netbird-nb
    hostname 100.64.174.141
    user vlad
    port 22

Host upvpn-nb
    hostname 100.64.138.104
    user vlad
    port 22

####
#### Exit Nodes
####

Host exit-cca
    hostname 100.64.189.226
    user vlad
    port 22

Host exit-cmx
    hostname 100.64.245.88
    user vlad
    port 22

Host exit-cpl
    hostname 100.64.104.139
    user vlad
    port 22

Host exit-eau
    hostname 100.64.243.13
    user vlad
    port 22

Host exit-ejp
    hostname 100.64.98.149
    user vlad
    port 22

Host exit-eus
    hostname 100.64.201.102
    user vlad
    port 22

Host exit-suk
    hostname 100.64.74.18
    user vlad
    port 22
