###############################################
####
#### Connection to hosts via Netbird
####   - Convention is <hostname>-nb
####
###############################################

Host greenwood-nb
    hostname 100.64.56.36
    user vlad
    port 22

Host steambox-nb
    hostname 100.64.1.1
    user vlad
    port 22

Host caphill-nb
    hostname 100.64.112.64
    user vlad
    port 22

Host reprise-nb
    hostname 100.64.1.1
    user vlad
    port 22

Host router-travel-nb
    hostname 100.64.189.220
    user vlad
    port 22

Host netbird-nb
    hostname 100.64.174.141
    user vlad
    port 22

Host upvpn-nb
    hostname 100.64.138.104
    user vlad
    port 22
