###############################################
####
#### Direct connection to remote hosts
####
###############################################

Host travel-router
    hostname 172.31.0.1
    user vlad
    port 22

Host netbird
    hostname net.polaris.gdn
    user vlad
    port 22

Host upvpn
    hostname 100.64.138.104
    user vlad
    port 22
