###############################################
####
#### Connection to hosts via Tailscale
####   - Convention is <hostname>-ts
####
###############################################

Host truenas-ts
    hostname 100.99.134.69
    user vlad
    port 22

Host greenwood-ts
    hostname 100.97.31.112
    user vlad
    port 22

Host steambox-ts
    hostname 100.118.35.73
    user vlad
    port 22

Host caphill-ts
    hostname 100.97.65.105
    user vlad
    port 22

Host reprise-ts
    hostname 100.100.149.31
    user vlad
    port 22

Host router-travel-ts
    hostname 100.101.150.63
    user vlad
    port 22

Host netbird-ts
    hostname 100.121.75.9
    user vlad
    port 22

Host upvpn-ts
    hostname 100.69.55.116
    user vlad
    port 22
