{{ if not .flags.ephemeral -}}

Include {{ .chezmoi.homeDir }}/.colima/ssh_config

{{-   if .flags.pokemon }}
Include {{ .chezmoi.homeDir }}/.ssh/pkmn.config
{{-   end }}

Host router
    hostname router.polaris.rest
    user root
    port 22

Host truenas
    hostname truenas.polaris.rest
    user vlad
    port 22

# TrueNAS via Tailscale
Host truenas-ts
    hostname 100.64.161.72
    port 22

# Docker via Tailscale
Host docker-ts
    hostname 100.77.31.112
    port 22

# Docker
Host docker
    hostname 10.10.1.20
    port 22

{{ end -}}
