{{ if not .flags.ephemeral -}}

{{-   if (and (eq .chezmoi.distro.name "darwin") (eq .chezmoi.arch "arm64")) }}
Include {{ .chezmoi.homeDir }}/.colima/ssh_config
Include {{ .chezmoi.homeDir }}/.orbstack/ssh/config
{{-   end }}

Include config.d/*
{{ end -}}
