{{ if not .flags.ephemeral -}}

{{-   if (and (eq .chezmoi.distro.name "darwin") (eq .chezmoi.arch "arm64")) }}
Include {{ .chezmoi.homeDir }}/.colima/ssh_config
Include {{ .chezmoi.homeDir }}/.orbstack/ssh/config
{{-   end }}

{{-   if .flags.pokemon }}
Include {{ .chezmoi.homeDir }}/.ssh/pkmn.config
{{-   end }}

Host router
    hostname router.polaris.rest
    user root
    port 22

Host truenas
    hostname truenas.polaris.rest
    user vlad
    port 22

# TrueNAS via Tailscale
Host truenas-ts
    hostname 100.64.161.72
    user vlad
    port 22

# Docker via Tailscale
Host docker-ts
    hostname 100.77.31.112
    user vlad
    port 22

# Docker
Host docker
    hostname 10.10.1.20
    user vlad
    port 22

# Steambox
Host steambox
    hostname 192.168.4.97
    user vlad
    port 22

# CapHill via Tailscale
Host steambox-ts
    hostname 100.118.35.73
    user vlad
    port 22

# NixOS
Host nixos
    hostname 10.10.10.84
    user vlad
    port 22

# Beepy via Tailscale
Host beepy-ts
    hostname 100.64.204.130
    user vlad
    port 22

# Beepy
Host beepy
    hostname 10.15.10.23
    user vlad
    port 22
{{ end -}}
