{{- $codespaces:= env "CODESPACES" | not | not -}}
{{- $gitpod:= env "GITPOD_WORKSPACE_ID" | not | not -}}
{{- if (not (or $codespaces $gitpod)) -}}
{{- onepasswordDocument "kyvghwqvntg4hn5ntiho4bbau4" -}}
{{- end -}}
