{{ if .flags.apps.wezterm -}}
-- Open WezTerm
function openWezTerm()
  local app = hs.application.get("com.github.wez.wezterm")

  if app then
    if not app:mainWindow() then
      app:selectMenuItem({ "WezTerm", "New OS window" })
    elseif app:isFrontmost() then
      app:hide()
    else
      app:activate()
    end

    app:mainWindow():moveToUnit '[90,80,10,0]'
  else
    hs.application.launchOrFocusByBundleID("com.github.wez.wezterm")
  end
end
{{- end }}

{{ if .flags.apps.rio -}}
-- Open Rio Terminal
function openRio()
  local app = hs.application.get("com.raphaelamorim.rio")

  if app then
    if not app:mainWindow() then
      app:selectMenuItem({ "Rio", "New OS window" })
    elseif app:isFrontmost() then
      app:hide()
    else
      app:activate()
    end

    app:mainWindow():moveToUnit '[90,80,10,0]'
  else
    hs.application.launchOrFocusByBundleID("com.raphaelamorim.rio")
  end
end
{{- end }}

-- Cmd+`
hs.hotkey.bind({ "cmd" }, "`", function()
  {{ if .flags.apps.rio -}}
  openRio()
  {{- else if .flags.apps.wezterm -}}
  openWezTerm()
  {{- end }}
end)

-- Cmd+Esc
hs.hotkey.bind({ "cmd" }, "escape", function()
  {{ if .flags.apps.rio -}}
  openRio()
  {{- else if .flags.apps.wezterm -}}
  openWezTerm()
  {{- end }}
end)
